    <header>
            <div class="container">
                <div class="header-logo">
                    <a class="navbar-brand" href="#"><img src="https://www.jobs.bg/assets/logo/2015-04-27/b_8434ce051dc5161ef1452d5d2e301244.png" width="200px"></a>
                </div>
                
                <div class="user-data">
                    <div class="user-detais">
                        <a class=" my-2 my-sm-0" href="/profile">Admin Admin</a>
                        <span> | </span>
                        <a class=" my-2 my-sm-0" href="/logout">Log Out</a>
                    </div>
                    <form class="form-inline">
                    <input id="expand-search" class="form-control mr-sm-2 main-search" type="search" placeholder="Search" aria-label="Search">
                    <button id="main-search-button" class="btn btn-outline-success my-2 my-sm-0 main-search-btn" type="submit"><i class="fas fa-search"></i>Search</button>
                  </form>
                </div>
                
            </div>
        </header>    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div style="width: 100%">
                    <div class="container">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Menu 1
                             </a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                               <div class="arrow"></div>
                               <a class="dropdown-item" href="#">SubMenu 1</a>
                               <a class="dropdown-item" href="#">Submenu 2</a>
                               <a class="dropdown-item" href="#">Submenu 3</a>
                             </div>
                           </li>
                           <li class="nav-item ">
                             <a class="nav-link" href="#">Menu 2</a>
                           </li>
                           <li class="nav-item">
                             <a class="nav-link" href="#">Menu 3</a>
                           </li>
                           <li class="nav-item">
                             <a class="nav-link" href="#">Menu 4</a>
                           </li>
                         </ul>
                    </div>
                </div>
            </div>
        </nav>
        <section class="container main-content">
            
        </section>